/CODE_OF_CONDUCT.md
/INSTALL.md
/README.md
/LICENSE.md
/CHANGELOG.md
/docs
/export
/scripts
DerivedData
/libs/openFrameworksCompiled/lib/ios/build

/libs/openFrameworksCompiled/lib/ios/libofxiOS_iphonesimulator_Debug.a
/apps/myApps/tvOSExample
/apps/myApps/SkyMapsTest
/libs/openFrameworksCompiled/lib/ios/libofxiOS_iphoneos_Debug.a
